# Ignore virtual environments
venv/
venv2/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Ignore compiled binaries and DLLs
*.dll
*.so
*.dylib

# Logs
*.log
